.containerWrapper {
  max-width: 1130px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1140px) {
  .containerWrapper {
    padding: 0 32px;
  }
}

@media screen and (max-width: 576px) {
  .containerWrapper {
    padding: 0 16px;
  }
}
