.menuWrapper {
  display: grid;
  grid-template-columns:  auto auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 25px;
}

.item {
  color: #333;
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.content {
  font-size: 10px;
  font-weight: lighter;
}
