.error {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #c51c1c;
  font-weight: 400;
}

.placeholder {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #6c6c6c;
}
